@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&family=Paytone+One&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lilita+One&family=Paytone+One&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    max-width: 100vw;
    min-height: 110vh;
    background-color: var(--base);
    color: var(--text);
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    margin: 0;
}

footer {
    background-color: var(--mantle);
    max-width: 100%;
    height: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--blue);
}

footer .container {
    flex-direction: column;
    max-width: 100%;
}

footer .container p {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    width: 100%;
    margin: 10px 0px; /* unfinished */
}

.accent-bar {
    width: 100%;
    height: 8px;
    background-color: var(--mauve);
    background-image: linear-gradient(90deg,var(--rosewater),var(--flamingo),var(--pink),var(--mauve),var(--red),var(--maroon),var(--peach),var(--yellow),var(--green),var(--teal),var(--sky),var(--sapphire),var(--blue),var(--lavender),var(--rosewater),var(--flamingo),var(--pink),var(--mauve),var(--red),var(--maroon),var(--peach),var(--yellow),var(--green),var(--teal),var(--sky),var(--sapphire),var(--blue),var(--lavender),var(--rosewater));
}
h1 {
    font-family: "Paytone One", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 0 10px;
    margin: 0 20px;
}

.flex-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.flex-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: auto;
    height: auto;
}

.logo-container img {
    max-height: 45px;
    width: auto;
}

.item {
    width: 100%;
}

#logo-name {
    font-family: "Paytone One", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: var(--mauve);
}

#school {
    width: 75vw;
    height: auto;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding: 5px; /* not done */
}

.navbar-container li a {
    text-decoration: none;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    color: var(--text);
    font-weight: bold;
    font-size: 0.7rem;
}

.navbar-container li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

#vw-home {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(120deg, var(--peach), var(--red));
}

.category-nav {
    width: 100%;
    height: 20%;
}

.fa-graduation-cap {
    font-weight: bold;
    font-size: 1rem;
}
.category-nav button {
    border-radius: 20px;
    border: none;
    width: auto;
    min-width: 10rem;
    padding: 0.5rem;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    margin: 5px;
    color: var(--base)
}

.category-nav #classroom {
    background: linear-gradient(120deg, var(--peach), var(--red));
}

.category-nav #church {
    background: linear-gradient(120deg, var(--pink), var(--mauve));
}

.category-nav #cultural {
    background: linear-gradient(120deg, var(--teal), var(--green));
}

.category-nav #court {
    background: linear-gradient(120deg, var(--sky), var(--blue));
}

.category-nav #community {
    background: linear-gradient(120deg, var(--yellow), var(--rosewater));
}

.reflection #classroom {
    color: var(--peach);
}

.reflection #church {
    color: var(--mauve);
}

.reflection #cultural {
    color: var(--green);
}

.reflection #court {
    color: var(--blue);
}

.reflection #community {
    color: var(--yellow);
}

@media only screen and (orientation: landscape) {
    .item {
        width: 50%;
    }

    #school {
        width: 40vw;
    }
}
